COMPOSE_PROJECT_NAME=design-patterns

APP_PORT=80
APP_HOST=design-patterns.local

PHP_IDE_CONFIG=serverName=design-patterns.local

XDEBUG_MODE=debug
XDEBUG_CLIENT_HOST=host.docker.internal
XDEBUG_CLIENT_PORT=9003
XDEBUG_IDEKEY=PHPSTORM